/* Slider */

.slick-slider {
    position: relative;
    display: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}
.slick-initialized.slick-slider {
    display: block;
}
.news.slick-initialized.slick-slider {
    margin-top: 60px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slider_partners .slider__item  {
    text-align: center;
}
.slider_partners .slider__item.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100px;
}
.slick-next.our_clients_nav.slick-nav--next.slick-arrow {
    width: 8px;
    height: 26px;
    background-image: url(../img/right.png);
    position: absolute;
    right: -25px;
}
.slick-prev.our_clients_nav.slick-nav--prev.slick-arrow {
    width: 8px;
    height: 26px;
    background-image: url(../img/left.png);
    position: absolute;
    left: -25px;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    /* overflow: hidden; */
    /* height: 487px; */
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    /* height: 100%; */
    min-height: 1px;
    /* overflow: hidden; */
    outline: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.item-block.slick-slide {
    text-align: center;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slider.slick-initialized.slick-slider {
    width: 38.4%;
    margin-bottom: 25px;
    overflow: hidden;
}
.slider__item img {
    width: 100%;
    display: block;
}

.slider img {
    width: 100%;
    margin: 0;
}

.slick-next.our_clients_nav.slick-nav--next.slick-arrow:hover,.slick-prev.our_clients_nav.slick-nav--prev.slick-arrow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
/**/
.slick-nav {
    position: absolute;
    z-index: 99;
    top: 45%;
    cursor: pointer;
    background:#ffc054;
    width: 22px;
    height: 99px;
}
.slick-nav:hover{
    background-color: #d99f3b;
}
.slick-nav--next {
    right: 58%;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 5px 5px 0;
}
 .slick-nav--prev {
    left: 0px;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px 0 0 5px;
}

.slick-dots {
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.slick-dots li {
    padding: 0;
    text-align: center;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0 4px;
}
.slick-dots li button {
    outline: none;
    height: 15px;
    font-size: 0px;
    width: 0px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    color: #282828;
    background: #282828;
    border: 2px solid #fff;
    border-radius: 50%;
}
.slick-dots li.slick-active button, .slick-dots li:hover button {
    background: #fff;
    border: 2px solid #000;
}
.slider-product .slider__item {
    border-radius: 0;
}
.slider_item_img {
    width: 33.4%;
    border: 2px solid #ffc054;
    margin: 0 39px;
}
.slider-product .slider__item.slick-slide {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width:1020px){

    .slick-next.our_clients_nav.slick-nav--next.slick-arrow {
    right: 0;
}
.slick-prev.our_clients_nav.slick-nav--prev.slick-arrow {
    left: 0px;
}
}